@import "variables.scss";
@import "mixin.scss";

/*general*/
html, body, p{ 
	margin:0; 
    padding:0; 
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: $link;
}
a:hover{
    text-decoration: underline;
    color: $text-corp;
}

h3{
    color: $text-corp;
    &:hover{
        letter-spacing: 8px; //espacer les lettres
    }
}


/*extend*/
%column{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

%padding{
    padding: 20px;
    padding-bottom: 5px;
}

/*premiere partie*/
.intro{
    background: transparent url('../img/header.jpg') no-repeat;
    background-size: cover;
    header{
        @include header($light);
        font-size: 45px;
    }
    .summary{
        @include header($white);
        font-size: 20px;
    }
    .preamble{
        @extend %padding;
        color: $white;
        font-style: italic;
        background-color: $background-dark;
        h3{
            color: $light;
        }
    }
}

/*seconde partie */
#zen-supporting{
    @extend %column;
    .explanation, .participation, .benefits, .requirements{
        @include article($light);
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        a{
            display: inline-block;
            height: 50px;
            width: 50px;
            background-color: $light;
            text-align: center;
            @extend %padding;
        }
    }
}

/* bas de page */
.wrapper{
    background-color: $light;
    display: flex;
    justify-content: space-around;
    .design-archives{
        border-left: $text-corp solid;
        border-right: $text-corp solid;
        padding: 0px 40px;
    }
}